/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wcrh-custom-spacer {
	text-align: center;
	color: rgba(0, 0, 0, 0);
}

.wp-block-wcrh-custom-spacer:hover,
.wp-block-wcrh-custom-spacer:focus {
	background-color: #eee;
	color: #666;
}
